@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-watcher {
    scale: 0 1;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    transform-origin: left;
  }
  
  @keyframes scroll-watcher {
    to { scale: 1 1; }
  }